//----------------------------------
//--------- ANIMATION FILED - TRACK
//----------------------------------

.track{
	position: relative;
	padding: 0 3rem;
	&__measure {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 2rem;
		td {
			font-size: 2rem;	
			text-align: center;
		}
	}
	&__lines {
		width: 100%;
		height: 30.5rem;
		margin-bottom: 3rem;
		border: 0.2rem solid #000;
		border-radius: 1rem;
		.line {
			width: 100%;
			height: 10rem;
			border-bottom: 0.2rem solid #000;
			&:last-child {
				border-bottom: none;
			}
			li {
				position: relative;
				width: 9.8%;
				height: 10rem;
				border-right: 0.2rem solid #DFDFDF;
				span {
					font-size: 2rem;
					position: absolute;
				}
			}
		}
	}
}

// SPEED LIMITS

#speedLimits {
	position: relative;
	span {
		position: relative;
		top: 0;
		display: inline-block;
		padding: 2rem;
		font-size: 3.5rem;
		border: 0.5rem solid #DFDFDF;
		border-radius: 5rem;
		&:after {
			display: block;
			height: 1px;
			width: 34rem;
			position: absolute;
			left: -13.2rem;
    		top: -17.5rem;
			content: "";
			border: none;
			color:#fff;
			background-color: #fff;
			border-top: 2px dashed #8c8b8b;
			@include transform (rotate(90deg));
		}
	}
}

// TRAFFIC LIGHTS

.trafficLights {
	position: absolute;
	bottom: -2rem;
	left: 45%;
  	width: 8rem;
 	height: 11rem;
	background-color: #eee;
	border: 0.2rem solid #999;
	border-radius: 1rem;
	&:after {
		display: block;
		height: 1px;
		width: 34rem;
		position: absolute;
		left: -13.2rem;
		top: -17.5rem;

		content: "";
		border: none;
		color:#fff;
		background-color: #fff;
		border-top: 2px dashed #8c8b8b;

		@include transform (rotate(90deg));
	}
}

.light {
	width: 3rem;
	height: 3rem;
	border: 0.2rem solid #999;
	margin: 1.5rem auto 0;
	border-radius: 3rem;
}

.red {
    background-color: red
}

.green {
    background-color: green;
}

.off {
    background-color: transparent;
}

// START POSITIION

#start {
	width: 9.3rem;
    height: 30rem;
    position: absolute;
    top: 4.2rem;
    left: 3.2rem;
    overflow: hidden;
	.displayBox__face {
		position: relative;
		width: 9.3rem;
		height: 9.9rem;
		float: left;
		border: none;
		background-color: transparent;
		img {
			margin-top: 2rem;
		}
		h2 {
			display: none;
		}
	}	
}
	

