//----------------------------------
//--------- ANIMATION FILED - TRACK
//----------------------------------

.track{
	padding: 0 3rem;
	&__measure {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 2rem;
		td {
			font-size: 2rem;	
			text-align: center;
		}
	}
	&__lines {
		width: 100%;
		height: 30.5rem;
		margin-bottom: 3rem;
		border: 0.2rem solid #000;
		border-radius: 1rem;
		.line {
			width: 100%;
			height: 10rem;
			border-bottom: 0.2rem solid #000;
			&:last-child {
				border-bottom: none;
			}
			li {
				width: 9.8%;
				height: 10rem;
				border-right: 0.2rem solid #DFDFDF;
			}
		}
	}
}

// SPEED LIMITS

#speedLimits {
	position: relative;
	span {
		position: absolute;
		top: 0;
		display: block;
		padding: 2rem;
		font-size: 3.5rem;
		border: 0.5rem solid #DFDFDF;
		border-radius: 5rem;

		&:first-child {
			left: 22%;
		}
		&:last-child {
			left: 55%;
		}
	}
}
	

