/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #fff;
  background-color: #262626; }

::-moz-selection {
  color: #fff;
  background-color: #262626; }

::-webkit-selection {
  color: #fff;
  background-color: #262626; }

html {
  overflow-y: scroll; }

ul li {
  display: inline-block; }

html, body {
  width: 100%;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

body {
  font-size: 100%;
  color: black;
  font-family: Arial, Helvetica, Tahoma, sans-serif; }

html {
  font-size: 10px; }
  @media (max-width: 1700px) {
    html {
      font-size: 0.58823529411vw; } }
  @media (max-width: 1023px) {
    html {
      font-size: 1.30208333333vw; } }
  @media (max-width: 767px) {
    html {
      font-size: 1.5625vw; } }

body {
  font-size: 100%; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

h1 {
  font-size: 5.2rem; }

.mainWrapper {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .mainWrapper {
      width: 90%; } }

.app__display {
  position: relative;
  width: 100%;
  height: 64rem;
  padding: 2rem 0; }
  @media (max-width: 1023px) {
    .app__display {
      height: 79rem; } }
  .app__display:after, .app__display:before {
    position: absolute;
    top: 5rem;
    left: 33.33%;
    content: "";
    display: block;
    width: 0.2rem;
    height: 84%;
    background-color: #000; }
    @media (max-width: 1023px) {
      .app__display:after, .app__display:before {
        width: 91%;
        height: 0.2rem; } }
  .app__display:before {
    left: auto;
    right: 33.33%;
    z-index: 55; }
    @media (max-width: 1023px) {
      .app__display:before {
        left: 3rem;
        right: auto;
        top: 27rem; } }
  @media (max-width: 1023px) {
    .app__display:after {
      left: 3rem;
      right: auto;
      bottom: 27rem;
      top: auto; } }
  .app__display .horizontal-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 3rem;
    width: 95%;
    height: 0.2rem;
    background-color: #000;
    z-index: 55; }
    @media (max-width: 1023px) {
      .app__display .horizontal-line {
        display: none; } }
  .app__display .vertical-line {
    display: none; }
    @media (max-width: 1023px) {
      .app__display .vertical-line {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 0.2rem;
        height: 88%;
        background-color: #000; } }

.app__title h1 {
  font-size: 3rem;
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center; }

.app__search {
  position: relative;
  width: 95%;
  height: 5rem;
  margin: 2rem auto;
  padding: 0.3rem;
  border: 0.2rem solid #000;
  border-radius: 1rem; }
  @media (max-width: 1023px) {
    .app__search {
      width: 90%; } }
  .app__search:after {
    position: absolute;
    top: 0;
    right: 5rem;
    content: "";
    height: 100%;
    width: 0.2rem;
    background-color: #000; }
  .app__search #myInput {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-size: 2rem;
    border: none; }
  .app__search img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    width: 2.5rem; }

textarea:focus, input:focus {
  outline: none; }

.track-distance {
  width: 100%; }
  .track-distance td {
    font-size: 2rem;
    text-align: center; }

.displayBox {
  position: relative;
  float: left;
  width: 33.33%;
  height: 30rem;
  margin: 0;
  padding: 3rem;
  -webkit-perspective: 1000;
  /* Chrome, Safari, Opera */
  perspective: 1000;
  z-index: 1; }
  @media (max-width: 1023px) {
    .displayBox {
      width: 50%;
      height: 25rem; } }
  .displayBox:hover .displayBox__inner {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .displayBox__inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s linear;
    -khtml-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    cursor: pointer; }
    .displayBox__inner img {
      height: 12rem;
      margin: 2rem auto; }
      @media (max-width: 1023px) {
        .displayBox__inner img {
          height: 9rem; } }
    .displayBox__inner h2 {
      font-size: 2rem;
      text-align: center; }
  .displayBox__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 0.2rem solid #000;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    background-color: #fff; }
  .displayBox__back {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: white;
    text-align: center;
    background-color: #141414;
    border-radius: 1rem;
    border: 0.2rem solid #000;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    z-index: 0; }
    @media (max-width: 1023px) {
      .displayBox__back {
        padding: 2rem; } }
    .displayBox__back p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      text-align: left; }
